body{
    background-image: url(https://media.istockphoto.com/id/1069756716/fr/photo/drapeau-palestine-fond-de-ciel-nuageux.webp?b=1&s=170667a&w=0&k=20&c=Q_uAElqyzf9wHV6ffEKVKuBWIpGePxitX9kizREBKyk=);
background-size: cover;
background-repeat: no-repeat;

}